*.log
.DS_Store
.env
.env.backup
.env.prod
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/www/auth.json
/www/database/*.sqlite
/www/node_modules
/www/public/build
/www/public/fonts-manifest.dev.json
/www/public/hot
/www/public/storage
/www/storage/*.key
/www/storage/pail
/www/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
